/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/entities/cat/ui/cat.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.cat_card__v_y6z {
  position: relative;
  max-width: 225px;
  height: 225px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.cat_card__v_y6z:hover {
  transform: scale(1.1);
  box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.1803921569);
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.2392156863);
}

.cat_image__SpwLO {
  width: 225px;
  height: 225px;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.cat_action__uDRYk {
  position: absolute;
  bottom: 10px;
  right: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.1s, opacity 0.3s ease;
}

.cat_card__v_y6z:hover .cat_action__uDRYk {
  visibility: visible;
  opacity: 1;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/shared/ui/infinite-scroll/infinite-scroll.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.infinite-scroll_wrapper__63QAs {
  position: relative;
}

.infinite-scroll_trigger__OZLzd {
  height: 1px;
  margin-top: 20px;
}

.infinite-scroll_loading___ix0s {
  text-align: center;
  font-size: 1rem;
  color: #666;
  margin-top: 20px;
}

.infinite-scroll_noMore__YVqBD {
  text-align: center;
  font-size: 1.2rem;
  color: #999;
  margin-top: 20px;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/shared/ui/header/Header.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Header_header__WKAVo {
  background-color: #2196F3;
  height: 64px;
}

.Header_nav__ZyKqz {
  width: 90%;
  margin: auto;
  display: flex;
}

.Header_link__Tr5Wx {
  font-size: 14px !important;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  transition: background-color 0.3s;
  opacity: 0.7;
}
.Header_link__Tr5Wx:hover {
  background-color: rgb(30, 136, 229);
  opacity: 1;
}

.Header_active__Mbzip {
  background-color: rgb(30, 136, 229);
  opacity: 1;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/features/add-to-favorites/ui/add-to-favorites.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.add-to-favorites_button__1_Air {
  all: unset;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/widgets/favorites-cats-grid/ui/favorites-cats-grid.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.favorites-cats-grid_grid__XzSbp {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-gap: 50px;
  gap: 50px;
  margin-top: 20px;
}

.favorites-cats-grid_cardContainer__nVmKJ {
  position: relative;
}

.favorites-cats-grid_noFavorites__LXPQS {
  text-align: center;
  font-size: 1.2rem;
  color: #999;
  margin-top: 20px;
}
