.wrapper {
  position: relative;
}

.trigger {
  height: 1px;
  margin-top: 20px;
}

.loading {
  text-align: center;
  font-size: 1rem;
  color: #666;
  margin-top: 20px;
}

.noMore {
  text-align: center;
  font-size: 1.2rem;
  color: #999;
  margin-top: 20px;
}
